.navigation-parent {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 85px;
    background: #eef;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
    z-index: 100;
}

.logo {
    float: left;
    margin: 25px;
    font-size: 1.5em;
}

.content {
    margin-top: 105px;
    padding-bottom: 1rem;
}

.row+.row {
    margin-top: 1.5rem;
}

.row h1, .row h2, .row h3, .row h4 {
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
}