{% extends "matcher/index.html" %}

{% block content %}

<div class="row">
    <div class="col">
        <h2>Roulette status</h2>
        <p>{{ pretty_state }}</p>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2>Matches</h2>
        {% if matches %}
            <ol>
                {% for group in matches %}
                    <li>
                        {% for user in group %}
                            {% if not forloop.first %} - {% endif %}
                            {{ user.name }}
                        {% endfor %}
                    </li>
                {% endfor %}
                </ol>
        {% else %}
            <p>No matches generated yet.</p>
            {% if roulette.canAdminGenerateMatches %}
                <a class="btn btn-primary" role="button" href="{% url 'matcher:run' roulette.pk %}">Run roulette</a>
            {% else %}
                You'll be able to generate matches as soon as voting ends.
            {% endif %}
            </p>
        {% endif %}
    </div>
    <div class="col">
        <h2>Votes</h2>
        {% if votes %}
            <ul>
            {% for v in votes %}
                <li>
                {{ v.user.name }}
                {% if v.choice == 'Y' %}
                    has voted YES
                {% elif v.choice == 'N' %}
                    has voted NO
                {% else %}
                    has not voted yet
                {% endif %}
                </li>
            {% endfor %}
            </ul>
            {% if roulette.canAdminChangeVotes %}
                <a class="btn btn-primary" role="button" href="{% url 'admin:matcher_roulette_change' roulette.pk %}">Change votes</a>
            {% endif %}
        {% else %}
            <p>No votes yet.</p>
        {% endif %}
    </div>
</div>

{% endblock %}