{% extends "matcher/index.html" %}

{% block active-slack-settings %}active{% endblock %}

{% block content %}


<div>
    <h3>Slack configuration</h3>
    {% if slack_workspace %}
    <p>Channel to use: <em>{{ slack_workspace.roulette_channel }}</em></p>
    <p>Bot token: <em>&lt;secret&gt;</em></p>
    {% else %}
    <p>Slack workspace not connected. Please <a href="{% url 'admin:slackbot_slackworkspace_add' %}">connect now</a>.
    </p>
    {% endif %}
</div>

{% if slack_workspace %}
<form action="{% url 'slackbot:send_message' %}" method="post">
    {% csrf_token %}
    <input class="btn btn-success" type="submit" value="Send a test message to all admins on Slack" />
</form>
{% endif %}

{% endblock %}